@media screen and (min-width:481px) and (max-width:1199px) {
   .menu-container{
        display: none;
    }

    .header-nav{
        justify-content: space-between;
        padding-top: 21px;
        padding-bottom: 20px;
    }

    .header-nav__list{
        margin-left: 0;
    }

   .header-nav__button{
        display: none;
    }

    .header-contacts__list{
        display: block;
        margin-left: 0;
    }

    .header-contacts__item{
        &:not(:last-child){
            margin-bottom: 10px;
            margin-right: 0;
        }
    }


    .section-overlay {
        padding-top: 118px;
        padding-bottom: 118px;
        background-size: cover;
    }


    .section-features{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .features-list{
        flex-wrap: wrap;
        gap: 30px;
    }

    .features-list__item{
        width: calc((100% - 30px) / 2);
    }


    .section-team{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .team-list {
        flex-wrap: wrap;
        gap: 30px;
    }

    .team-list__item {
        width: calc((100% - 30px) / 2);
    }

    .social-list {
        justify-content: center;
    }

    .section-business{
        display: none;
    }

    .team-list__item {
        padding-bottom: 24px;
    }

    .client-list {
        gap: 30px;
        flex-wrap: wrap;
        // justify-content: center;
    }

    .client-list__item {
        width: calc((100% - 60px) / 3);
    }


    .general-footer {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .container-footer{
        text-align: center;
    }

    .container-join{
        text-align: center;
        padding-top: 65px;
        margin-left: 0;
    }

    .container-form{
        padding-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .form-button{
        display: block;
        margin-top: 20px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-label{
        text-align: center;
    }

    .form-input{
        width: 450px;
    }


    // Portfolio 

    .section-portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .work-list {
        flex-wrap: wrap;
        gap: 30px;

        margin-top: 30px;
    }

    .work-list__item {
        margin-bottom: 0;
        width: calc((100% - 30px) / 2);
    }

    .work-list__subtitle{
        height: 100%;
    }
}
